@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
main{
    max-width: 1440px;
    margin: 0 auto;
}
main>section{
    margin-top: 130px;
}
.text-primary{
    color:rgba(255, 144, 14, 1)
}
.display-flex{
    display: flex;
}
.section-title{
    font-weight: 700;
    font-size: 2.8rem;
}

/* Header Background color */
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

/*Dark 02*/
.text-gray{
    color:rgba(66, 66, 66, 1);
}
/*Dark 03*/
.text-light-gray{
    color:rgba(114, 114, 114, 1);
}




/* Header */
/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0px auto;
}

.brand{
    font-weight:700;
    font-size: 3rem;
}
/* Banner related styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
}

.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    color: white;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-size: 1.25rem;
}

.banner-image{
    width: 100%;
}

/* team and feature related styles */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.out-features{
    margin-left: 70px;
    max-width: 530px;
}

#quick-list{
    font-weight: 500;
}

/* Some facts related styles */
.fact-description{
    max-width: 540px;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;  /* for grid we use justify items center */
}
.fact-card{
    border: 1px solid rgba(255, 144, 14, 1);
    height: 240px;
    width: 240px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;  /* Because we used header tag , and each header tag has some margin by defaul, so to overrite that default margin */
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}


/* Sponsor Related Styles */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}
.sponsor-companies img{
    filter: grayscale(100%);
}
/* feature section related styles */
.features{
    gap: 140px;
}
#feature-section-title{
    border-left: 5px solid rgba(255, 144, 14, 1);
    padding-left: 20px;
}

.feature-card .feature-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}
.feature-card{
    padding: 30px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0px 4px 30px 4px rgba(0, 0, 0, 0.25);
}
.feature-architect{
    width: 100%;
}

#experience-badge{
    font-size: 1.5rem;
    font-weight: 500;
    padding: 45 42;
    margin-left: -90px;
    margin-top: -120px;
}
#experience-year{
    font-size:4rem;
    font-weight:700;
}


/* Responsive Media Query */
@media screen and (max-width: 576px){
    .navbar, .nav-links, .teams, .features{
        flex-direction: column;
    }
    .team-img-container, .facts-container, .sponsor-companies{
        grid-template-columns: repeat(1, 1fr);
    }
    .facts-container{
        gap: 24px;
    }
    .sponsor-companies{
        gap:50px;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
    /* .our-features{
        margin-left: 20px;
    } */
}


@media screen and (min-width: 576px) and (max-width:992px) {
    .teams, .features{
        flex-direction: column;
    }
    .out-features{
        margin: 50px auto;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
    .sponsor-companies, .facts-container{
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
        justify-items: center;
    }
}